<div class="relative">
	<div class="pointer-events-none shape absolute xl:-bottom-5 lg:-bottom-4 md:-bottom-3 -bottom-2 start-0 end-0 overflow-hidden z-1 rotate-180 text-white dark:text-darkSub">
		<svg class="w-full h-auto scale-[2.5] origin-top" fill="none" viewBox="0 0 2880 48"
			 xmlns="http://www.w3.org/2000/svg">
			<path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
		</svg>
	</div>
</div>

<footer class="relative bg-white dark:bg-darkSub border border-darkAccent overflow-hidden">
	<span class="pointer-events-none absolute blur-3xl w-80 h-80 rounded-full top-0 -start-10 bg-gradient-to-tl to-primary/30 from-secondary/60 z-0"></span>
	<span class="pointer-events-none absolute blur-3xl w-80 h-80 rounded-full top-0 -end-10 bg-gradient-to-tr to-primary/20 from-secondary/40 z-0"></span>

	<div class="container-fluid relative md:py-24 py-16">
		<div class="container relative">
			<div class="grid grid-cols-1 text-center">
				<div class="relative max-w-xl mx-auto">
					<h4
							class="font-bold italic btn-hover-txt-liquid-X text-4xl lg:text-8xl dark:text-white tracking-normal mb-4"
						data-delay-options='{"elements":  ".lqd-chars", "delayType":  "animation", "startDelay":  0, "delayBetween":  40.5}'
						data-split-options='{"type":  "chars, words"}'
						data-split-text="true" data-transition-delay="true">
						Rejoins nous maintenant.</h4>
					<p class="text-slate-600 dark:text-white/80 font-semibold text-lg max-w-xl mx-auto">
						🤖✨ Buddy Sensei, ton compagnon scolaire toujours prêt à rendre l'école plus fun et
						plus facile ! 📝</p>

					<div class="mt-6">
						<a class="py-2 px-6 inline-block tracking-wide border align-middle duration-300 text-base text-center bg-darkSub dark:bg-white/10 border-darkAccent/20 dark:border-darkAccent hover:scale-105 text-white shadow rounded"
						   href="#hero_ctn">J'éssaie Buddy Sensei</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-white dark:bg-darkSub container relative text-center">
		<div class="grid grid-cols-1 border-t border-darkAccent">
			<div class="py-10 px-0">
				<div class="grid md:grid-cols-2 items-center">
					<div class="md:text-start text-center">
						<p class="text-slate-600 dark:text-white/80">©
							<script>document.write(new Date().getFullYear())</script>
																	 TryBuddy. Design with <i
									class="mdi mdi-heart text-red-700"></i> by <a
									class="text-reset hover:underline" href="https://www.adrielzimbril.com/"
									target="_blank">Oricodes</a>.
						</p>
					</div>

					<ul class="list-none footer-list md:text-end text-center mt-6 md:mt-0">
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="http://linkedin.com/company/usebuddybot"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="linkedin" title="Linkedin"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://www.facebook.com/usebuddybot"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="facebook" title="facebook"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://m.me/usebuddybot"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="message-circle" title="messenger"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://www.instagram.com/usebuddybot"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="instagram" title="instagram"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://twitter.com/usebuddybot"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="twitter" title="twitter"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://www.adrielzimbril.com/"><i
								class="h-4 w-4 align-middle" data-feather="mail" title="email"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://t.me/usebuddybot"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="mail" title="telegram"></i></a></li>
						<li class="inline"><a
								class="h-8 w-8 inline-flex items-center justify-center tracking-wide align-middle duration-300 text-base text-center bg-white/5 border border-darkAccent rounded text-slate-300 hover:bg-white/10"
								href="https://wa.me/+2250702650440"
								target="_blank"><i
								class="h-4 w-4 align-middle" data-feather="mail" title="whatsapp"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
