<nav class="defaultscroll is-sticky hidden" id="topnav">
	<div class="container">
		<div class="relative navbar">
			<!-- Logo container-->
			<a class="logo" href="index.html">
				<!-- <div class="block sm:hidden">
					<img src="assets/images/logo-icon-40.png" class="h-10 inline-block dark:hidden"  alt="">
					<img src="assets/images/logo-icon-40-white.png" class="h-10 hidden dark:inline-block"  alt="">
				</div> -->
				<!-- <div class="sm:block hidden"> -->
				<img alt="" class="h-6 inline-block dark:hidden" src="assets/images/logo-dark.png">
				<img alt="" class="h-6 hidden dark:inline-block" src="assets/images/logo-white.png">
				<!-- </div> -->
			</a>
			<!-- End Logo container-->

			<!-- Start Mobile Toggle -->
			<div class="menu-extras">
				<div class="menu-item">
					<a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
						<div class="lines">
							<span></span>
							<span></span>
							<span></span>
						</div>
					</a>
				</div>
			</div>
			<!-- End Mobile Toggle -->

			<!--Login button Start-->
			<ul class="buy-button list-none mb-0">
				<li class="inline mb-0">
					<a href="login.html">
						<span class="py-2 px-6 md:inline hidden items-center justify-center tracking-wider align-middle duration-300 text-sm text-center rounded bg-primary hover:bg-primary/40 border border-primary/40 hover:border-primary/40 text-white hover:text-white font-semibold">Login</span>
						<span class="py-2 px-6 inline md:hidden items-center justify-center tracking-wider align-middle duration-300 text-sm text-center rounded bg-primary hover:bg-primary border border-primary/40 hover:border-primary/50 text-white font-semibold">Login</span>
					</a>
				</li>

				<li class="md:inline hidden ps-1 mb-0 ">
					<a class="py-2 px-6 inline-block items-center justify-center tracking-wider align-middle duration-300 text-sm text-center rounded bg-primary hover:bg-primary/50 border border-primary/40 hover:border-primary/50 text-white font-semibold"
					   href="signup.html"
					   target="_blank">Signup</a>
				</li>
			</ul>
			<!--Login button End-->

			<div id="navigation">
				<!-- Navigation Menu-->
				<ul class="navigation-menu">
					<li class="has-submenu parent-menu-item">
						<a href="javascript:void(0)">Home</a><span class="menu-arrow"></span>
						<ul class="submenu">
							<li><a class="sub-menu-item" href="index.html">Hero One</a></li>
							<li><a class="sub-menu-item" href="index-two.html">Hero Two</a></li>
							<li><a class="sub-menu-item" href="index-three.html">Hero Three</a></li>
							<li><a class="sub-menu-item" href="index-light.html">Hero Light <span
									class="bg-white dark:bg-darkSub text-[10px] shadow shadow-gray-300 dark:shadow-darkIn font-bold px-2.5 py-0.5 rounded h-5 ms-1">Light</span></a>
							</li>
						</ul>
					</li>


					<li><a class="sub-menu-item" href="aboutus.html">About Us</a></li>
					<li><a class="sub-menu-item" href="pricing.html">Pricing </a></li>

					<li class="has-submenu parent-parent-menu-item">
						<a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
						<ul class="submenu">
							<li><a class="sub-menu-item" href="services.html">Services</a></li>

							<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Blog </a><span
									class="submenu-arrow"></span>
								<ul class="submenu">
									<li><a class="sub-menu-item" href="blog.html"> Blogs</a></li>
									<li><a class="sub-menu-item" href="blog-detail.html"> Blog Detail</a></li>
								</ul>
							</li>

							<li><a class="sub-menu-item" href="helpcenter.html">Helpcenter</a></li>

							<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Auth Pages </a><span
									class="submenu-arrow"></span>
								<ul class="submenu">
									<li><a class="sub-menu-item" href="login.html"> Login</a></li>
									<li><a class="sub-menu-item" href="signup.html"> Signup</a></li>
									<li><a class="sub-menu-item" href="reset-password.html"> Forgot Password</a></li>
								</ul>
							</li>

							<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Utility </a><span
									class="submenu-arrow"></span>
								<ul class="submenu">
									<li><a class="sub-menu-item" href="terms.html">Terms of Services</a></li>
									<li><a class="sub-menu-item" href="privacy.html">Privacy Policy</a></li>
								</ul>
							</li>

							<li><a class="sub-menu-item" href="error.html"> 404!</a></li>
						</ul>
					</li>

					<li><a class="sub-menu-item" href="contact.html">Contact</a></li>
				</ul><!--end navigation menu-->
			</div><!--end navigation-->
		</div>
	</div>
</nav>


<!-- Start Navbar -->
<nav class="defaultscroll is-sticky" id="topnav">
	<div class="container">
		<!-- Logo container-->
		<a class="logo" href="index.html">
            <span class="inline-block dark:hidden">
                <img alt="" class="h-6 l-dark" src="assets/images/logo-dark.png">
                <img alt="" class="h-6 l-light" src="assets/images/logo-white.png">
            </span>
			<img alt="" class="h-6 hidden dark:inline-block" src="assets/images/logo-light.png">
		</a>

		<!-- End Logo container-->

		<!-- Start Mobile Toggle -->
		<div class="menu-extras">
			<div class="menu-item">
				<a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
					<div class="lines">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</a>
			</div>
		</div>
		<!-- End Mobile Toggle -->

		<!--Login button Start-->
		<ul class="buy-button list-none mb-0">
			<li class="inline mb-0">
				<a href="login.html">
					<span class="py-2 px-6 md:inline hidden items-center justify-center tracking-wider align-middle duration-300 text-sm text-center rounded bg-primary hover:bg-primary/40 border border-primary/40 hover:border-primary/40 text-primary/40 hover:text-white font-semibold">Login</span>
					<span class="py-2 px-6 inline md:hidden items-center justify-center tracking-wider align-middle duration-300 text-sm text-center rounded bg-primary hover:bg-primary/50 border border-primary/40 hover:border-primary/50 text-white font-semibold">Login</span>
				</a>
			</li>

			<li class="md:inline hidden ps-1 mb-0 ">
				<a class="py-2 px-6 inline-block items-center justify-center tracking-wider align-middle duration-300 text-sm text-center rounded bg-primary hover:bg-primary/50 border border-primary/40 hover:border-primary/50 text-white font-semibold"
				   href="signup.html"
				   target="_blank">Signup</a>
			</li>
		</ul>
		<!--Login button End-->

		<div id="navigation">
			<!-- Navigation Menu-->
			<ul class="navigation-menu nav-light">
				<li class="has-submenu parent-menu-item">
					<a href="javascript:void(0)">Home</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a class="sub-menu-item" href="index.html">Hero One</a></li>
						<li><a class="sub-menu-item" href="index-two.html">Hero Two</a></li>
						<li><a class="sub-menu-item" href="index-three.html">Hero Three</a></li>
						<li><a class="sub-menu-item" href="index-light.html">Hero Light <span
								class="bg-white dark:bg-darkSub text-[10px] shadow shadow-gray-300 dark:shadow-darkIn font-bold px-2.5 py-0.5 rounded h-5 ms-1">Light</span></a>
						</li>
					</ul>
				</li>


				<li><a class="sub-menu-item" href="aboutus.html">About Us</a></li>
				<li><a class="sub-menu-item" href="pricing.html">Pricing </a></li>

				<li class="has-submenu parent-parent-menu-item">
					<a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
					<ul class="submenu">
						<li><a class="sub-menu-item" href="services.html">Services</a></li>

						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Blog </a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a class="sub-menu-item" href="blog.html"> Blogs</a></li>
								<li><a class="sub-menu-item" href="blog-detail.html"> Blog Detail</a></li>
							</ul>
						</li>

						<li><a class="sub-menu-item" href="helpcenter.html">Helpcenter</a></li>

						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Auth Pages </a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a class="sub-menu-item" href="login.html"> Login</a></li>
								<li><a class="sub-menu-item" href="signup.html"> Signup</a></li>
								<li><a class="sub-menu-item" href="reset-password.html"> Forgot Password</a></li>
							</ul>
						</li>

						<li class="has-submenu parent-menu-item"><a href="javascript:void(0)"> Utility </a><span
								class="submenu-arrow"></span>
							<ul class="submenu">
								<li><a class="sub-menu-item" href="terms.html">Terms of Services</a></li>
								<li><a class="sub-menu-item" href="privacy.html">Privacy Policy</a></li>
							</ul>
						</li>

						<li><a class="sub-menu-item" href="error.html"> 404!</a></li>
					</ul>
				</li>

				<li><a class="sub-menu-item" href="contact.html">Contact</a></li>
			</ul><!--end navigation menu-->
		</div><!--end navigation-->
	</div>
</nav><!--end header-->
<!-- End Navbar -->