                    </main>
                    @@include("footer/footer.html")
                </div>
            </div>
        </div>

                    <template id="lqd-temp-sticky-header-sentinel">
                        <div class="lqd-sticky-sentinel invisible absolute pointer-events-none"></div>
                    </template>
        <a class="back-to-top fixed hidden text-lg rounded z-10 bottom-5 end-5 h-9 w-9 text-center bg-primary hover:bg-primary/50 text-white leading-9 justify-center items-center duration-300"
           href="#" id="back-to-top"
           onclick="topFunction()"><i
                class="h-4 w-4 stroke-[3]" data-feather="arrow-up"></i></a>

        @@include("switcher.html")

        @@include("script-file.html")
    </body>
</html>