<script src="./assets/js/plugins.init.js"></script>
<script src="./assets/libs/feather-icons/feather.min.js"></script>
<script src="./assets/js/app.js"></script>

<script src="./assets/vendors/jquery.min.js"></script>
<script src="./assets/vendors/fastdom/fastdom.min.js"></script>
<script src="./assets/vendors/fontfaceobserver.js"></script>
<script src="./assets/vendors/gsap/minified/gsap.min.js"></script>
<script src="./assets/vendors/draggabilly.pkgd.min.js"></script>
<script src="./assets/vendors/gsap/utils/CustomEase.min.js"></script>
<script src="./assets/vendors/gsap/minified/DrawSVGPlugin.min.js"></script>
<script src="./assets/vendors/gsap/utils/SplitText.min.js"></script>
<script src="./assets/vendors/gsap/minified/ScrollSmoother.min.js"></script>
<script src="./assets/vendors/gsap/minified/ScrollToPlugin.min.js"></script>
<script src="./assets/vendors/gsap/minified/ScrollTrigger.min.js"></script>
<script src="./assets/vendors/imagesloaded.pkgd.min.js"></script>
<script src="./assets/vendors/tinycolor-min.js"></script>
<script src="./assets/vendors/flickity/flickity.pkgd.min.js"></script>
<script src="./assets/vendors/flickity/flickity-fade.min.js"></script>


<script src="./assets/js/gsap.js"></script>
